<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Library:</strong>
  <%= @book.library %>
</p>

<%= link_to 'Edit', edit_library_book_path(params[:library_id], @book) %> |
<%= link_to 'Back', library_books_path %>
